# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/

# env
.env
.env.local
.env*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem

# uploads
backend/uploads/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
